
$primary-50: #e6fef6;
$primary-100: #cefded;
$primary-200: #9cfcdc;
$primary-300: #6bfaca;
$primary-400: #39f9b9;
$primary-500: #07e49a;
$primary-600: #06C686;
$primary-700: #059464;
$primary-800: #036343;
$primary-900: #023121;
$primary-950: #011911;


$white-100: #F5F5F5;

$dark :#121212;