.gas__page {
  padding-top: 180px;
  background-image: url("../assets/images/gas-page/co2.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  
  .gas__container {
    .gas__name {
      font-size: 3rem;
      font-weight: 700;
      line-height: 3rem;
      color: $primary-100;
    }
    .faqs{
      .faq{
        .question{
          color:$question-color;
        }
        .answer{
          color: white;
        }
      }
    }
  }
}
