footer {
  background-color: $primary-900;
  padding: 41px 0;
  .footer__container {
    .first__row {
      padding-bottom: 3rem;
      border-bottom: 1px solid #c1c7cd;
      .footer__logo {
        .logo__name {
          background: linear-gradient(90deg, #3498db, #2ecc71);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          color: transparent;
          font-weight: 700;
          font-size: 1.5rem;
          line-height: 1.5rem;
        }
      }
      input,
      button {
        background-color: #f2f4f8;
        border: 2px solid #c1c7cd;
        color: $primary-900;
        padding: 1rem 0.75rem;
      }
    }

    .second__row {
      padding: 1rem 0;
      border-bottom: 1px solid #c1c7cd;
      h4 {
        font-size: 18px;
        font-weight: 800;
        line-height: 19.8px;
        color: $white-100;
      }
      li {
        font-size: 16px;
        font-weight: 500;
        color: white;
      }
    }
  }
}
