.co2 {
  background-image: url("../../../../assets/images/welcome/welcome.png");
  background-repeat: no-repeat;
  background-size: cover;
  .co2__container {
    height: 100%;
    .co2__content {
      flex: 1;
      h2 {
        font-weight: 400;
        font-size: 3rem;
        line-height: 3rem;
        span {
          background: linear-gradient(90deg, #059464 0%, #39f9b9 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          color: transparent;
        }
      }

      p {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2.25rem;
        color: $white-100;
      }
    }
    .gas__statisticts {
      flex: 1;
      .gas__card {
        border-radius: 2rem;
        padding: 2.5rem 2rem;
        background-color: rgba($color: $white-50, $alpha: 0.4);
        backdrop-filter: blur(20px);  
        .gas__level {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 25.2px;
          color: $white-100;
          .gas__detail{
            color: $primary-500;
          }
        }
        .gas__name{
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 25.2px;
          color: $white-100;
        }
      }
    }
  }
  @media screen and (max-width: $max_tablet) {
    .co2__container {
      padding: 0 1.5rem;
      text-align: center;
      .co2__content {
        flex: 1;
      }
    }
  }
}
